.container{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}

.grid_container{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 20px; 
}

.detailsLabel{
    font-weight: 900;
    font-style: italic;
}

.card_element{
    margin: 10px;
}