<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Movies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for a movie" aria-label="Search" aria-describedby="searchIcon">
                <div class="input-group-append">
                  <span class="input-group-text" id="searchIcon"><i class="bi bi-search"></i></span>
                </div>
            </div>
        </form> -->
        <div><h1 align="center">All Movies</h1></div>
        <div>
            {% for movie in movies %}
            <a href="http://127.0.0.1:5000/movies/{{movie[0]}}"><div class="card card_element">
                <div class="card-body">
                    <h4 class="card-title">{{movie[1]}}</h4>
                    <p class="card-subtitle">Genre: {{movie[2]}}&nbsp;&nbsp;&nbsp;Rating: {{movie[3]}}</p>
                </div>
            </div></a>
            {% endfor %}
        </div>
        <div align="right"><a href="http://127.0.0.1:5000/addMovie"></a><button class="btn btn-primary">ADD NEW MOVIE</button></div>
    </div>
</body>
</html>